<div class="container"> 
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <h1 class="text-center mt-5" > Rezeptänderung </h1>
                <%= form_with model: @recipe , class: "nifty_form" do |f| %>
                    <div class="form-group row">
                            <%= f.label :image, "Bild", class:'control-label' %>
                            <%= f.file_field :image, class: "user-input form-control mb-2" %>
                            <%= f.label :title, "Name", class:'control-label' %>
                            <%= f.text_field :title, required: true, class: "user-input form-control mb-2" %>
                            <%= f.label :description, "Beschreibung", class:'control-label' %>
                            <%= f.text_field :description, required: true, class: "user-input form-control mb-2" %>
                            <%= f.fields_for :author do |builder| %>
                                <%= builder.label :name, "Autor", class:'control-label' %>
                                <%= builder.text_field :name, required: true, class: "user-input form-control mb-4" %>
                            <% end %>
                    </div>
                    <div class="form-group row">
                        <%= f.submit "Update", class: "btn btn-primary" %> 
                    </div>
                <% end %>
        </div>
        <div class="col">
        </div>
    </div>
</div>