<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <% if %>
        <% @recipes.any? %>
            <div class="col">
                <h1 class="text-center mt-5">Rezepte</h1>
                <div class="col card-deck">
                    <% @recipes.each do |recipe| %>
                            <div class="card show_row align-items-center mt-4 mb-2">  
                            <%= image_tag recipe.image.variant(resize_to_fit: [300, 300])%>
                                    <div class="card-body">
                                        <p class="card-text text-center">
                                        <%= link_to recipe.title, recipe_path(recipe) %></p>
                                        <% sum = 0 %>
                                        <% recipe.ratings.each do |el|%>
                                        <% sum = sum + el.rating %>
                                        <% end %>
                                        <%= recipe.ratings.length == 0 ? "Keine Bewertungen" : "Durchschnittliche Bewertung: #{(sum/recipe.ratings.length).round} Sterne" %>
                                        <p><%= "Anzahl Bewertungen: #{recipe.ratings.length}" %></p>
                                    </div>
                            </div>              
                    <% end %>
                </div>
            </div>
    <% else %>
        <div class="col">
            <h1 class="text-center mt-5">Sorry, keine Rezepte vorhanden :-(</h1>
        </div>
    <% end %>
    <div class="col">
    </div>
    </div>
    </div>
    <div class="row text-center mt-3">
        <%= button_to "Rezept hinzufügen", new_recipe_path(@recipe), method: :get, class: "btn btn-primary me-2" %>
    </div>
</div>